body {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
	color: #FFF;
	background: #191919;
}

* {
	box-sizing: border-box;
}

section {
	display: flex;
	justify-content: center;
}

.preview {
	width: 1440px;
}

.container {
	width: 1400px;
	margin: 0 auto;
}

.preview-wrapper {
	display: flex;
	width: 90.28vw;
	height: 63.45vw;
	margin: 0 auto;
	padding-top: 2.8vw;
}

h1 {
	width: 36.5vw;
	font-size: 3.9em;
	font-weight: 400;
	margin: 0%;
	padding-bottom: 6.25vw;
	line-height: 130%;
	letter-spacing: 0.1em;
}

.title-contacts {
	margin: 0 0 1em 1em;
}

.description {
	width: 36.8vw;
	display: flex;
	flex-direction: column;
	padding: 20.4vw 0 0 4.17vw;

}

.contacts {
	width: 17vw;
	display: flex;
	gap: 1em;
	margin-left: 1em;
}

.level {
	font-weight: 700;
}

.listen {
	font-size: 0.8em;
}
